#/bin/sh

FILENAME=$1

rm class -rf
git rm bcode -rf
echo $FILENAME > bcode/version &&\
unzip $FILENAME -d class && \
cp class/library.properties bcode && \
java -cp target/scala_2.8.0.Beta1/classes:project/boot/scala-2.8.0.Beta1/lib/scala-library.jar RecursiveJavaP && \
git add bcode/* && \
git ci -m "$FILENAME"
